<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>176593062919-eorcv1hd57d86s6bms6d0ibr3gd7rjlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176593062919-eorcv1hd57d86s6bms6d0ibr3gd7rjlt</string>
	<key>API_KEY</key>
	<string>AIzaSyAQDmk61KpuFc9QBTkuE7l2O5cyVZAquvs</string>
	<key>GCM_SENDER_ID</key>
	<string>176593062919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.asierzapata.SummonerAssistant</string>
	<key>PROJECT_ID</key>
	<string>summonerassistant</string>
	<key>STORAGE_BUCKET</key>
	<string>summonerassistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176593062919:ios:6e813ed6d01f47b0</string>
	<key>DATABASE_URL</key>
	<string>https://summonerassistant.firebaseio.com</string>
</dict>
</plist>